<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuiKe</title>
</head>
<body>
    <form action="InsertTablePerson" method="post">
        openID:<br/>
        <input type="text" name="openID" size="20"/>
        <br/>
        <br/>
        姓名：<br/>
        <input type="text" name="name" size="16"/>
        <br/>
        <br/>
        性别：
        <input type="radio" name="gender" value="Male" checked="checked"/>男
        <input type="radio" name="gender" value="Female"/>女
        <br/>
        出生日期：<br/>
        <input type="date" name="birthday"/>
        <br/>
        <br/>
        居住地：<br/>
        <input type="text" name="residence" size="40"/>
        <br/>
        <br/>
        电话号码：<br/>
        <input type="text" name="phoneNumber" size="16"/>
        <br/>
        <br/>
        <input type="submit" name="submit" value="提交"/>

    </form>
</body>
</html>





