<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>HTML5 Ajax Uploader</title>
    <script type="text/javascript" src="/js/function.js"></script>  



</head>
<body>
单位：
<br />
<input type="text" name="unitName" id="unitName" size="40"/>
<br/>
<br/>
组织机构代码证：<br/>
<input type="text" name="code" id="code" size="16"/>
<br/>
<br/>
地址：<br/>
<input type="text" name="address" id="address" size="40"/>
<br/>
<br/>
联系人姓名：<br/>
<input type="text" name="contactName" id="contactName" size="16"/>
<br/>
<br/>
联系人电话号码：<br/>
<input type="text" name="phoneNumber" id="phoneNumber" size="16"/>
<br/>
<br/>
License：<br/>
<input type="file" name="license" id="license">
<br/>
<br/>
<input type="button" value="提交" onclick="f1()">

</body>
</html>