<ion-content>
    <ion-list>
        <ion-item>
            <h1>公益大众</h1>
        </ion-item>
        <ion-item>
            <img width="100%" height="170px" src="/images/图1.jpg" alt="Photo">
        </ion-item>
        <ion-item>
            <h2>点击按钮，开始接力</h2>
        </ion-item>
        <ion-item>
            <button ng-click="personEnroll()" class="button button-full button-balanced">我要接力</button>
        </ion-item>
        <ion-item>
            <h2>接力棒列表</h2>
        </ion-item>
        <div class="list">
            <a class="item item-avatar">
                <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
                <h2>第<span>8<span>棒</h2>
                <h2>陈毅强</h2>
                <p>浙大计算机学院大三在读</p>
            </a>
            <a class="item item-avatar">
                <img src="http://www.runoob.com/try/demo_source/barrett.jpg">
                <h2>第<span>1<span>棒</h2>
                <h2>祝以芳</h2>
                <p>浙江海虹控股集团有限公司</p>
            </a>
        </div>
    </ion-list>
</ion-content>
