<ion-content>
    <ion-list>
        <ion-item>
            <h1>联创公益简介</h1>
        </ion-item>
        <ion-item>
            <div class="card">
                <div class="item item-divider item-balanced">
                    公益要旨
                </div>
                <div class="item item-text-wrap">
                    聚焦健康生活，专注大众消费； <br />
                    命中消费痛点，联创公益起航； <br />
                    科技专家引领，良心厂商保驾； <br />
                    消费大众护航，联创解决方案。
                </div>
                <div class="item item-divider item-balanced">
                    理 念
                </div>
                <div class="item item-text-wrap">
                    联创公益，共谋健康！
                </div>
                <div class="item item-divider item-balanced">
                    使 命
                </div>
                <div class="item item-text-wrap">
                    致力构建健康生活解决方案
                </div>
                <div class="item item-divider item-balanced">
                    宗 旨
                </div>
                <div class="item item-text-wrap">
                    联良心厂商，创健康生活！
                </div>
                <div class="item item-divider item-balanced">
                    背景分析
                </div>
                <div class="item item-text-wrap">
                    1、甲醛超标，农药残留；添加剂非法使用，地沟油登堂入室，等等，安全健康危机四伏…… <br />
                    2、甲醛中毒，癌症高发，婴幼儿畸形，甚至生育障碍等等损害健康，危及生命的安全事故时有发生…… <br />
                    3、假冒伪劣、以次充好大行其道，消费者：优劣难辨、真假难分； <br />
                    4、放心吃、安全用、健康活，变成了一道难解的题； <br />
                    5、专家团队、研究机构、政府部门、产销企业、消费大众，各自为政、各行其道，指导指引、监督监管、难见其效……
                </div>
                <div class="item item-divider item-balanced">
                    公益说明
                </div>
                <div class="item item-text-wrap">
                    联创公益，本着“联创公益，共谋健康！”的理念，<br />
                    以“联良心商家，创健康生活！”为宗旨，<br />
                    以“致力构建健康生活解决方案”为使命，<br />
                    构建TMC（科创者、制造商、消费者）联创公益关系。<br />
                    科技专家引领，良心厂商保驾，消费大众护航，<br />
                    在联创公益的持续推进中，去伪存真，取优逐劣，<br />
                    促进商业新文明，造福健康新生活！
                </div>
                <div class="item item-divider item-balanced">
                    公益要旨
                </div>
                <div class="item item-text-wrap">
                    聚焦健康生活，专注大众消费； <br />
                    命中消费痛点，联创公益起航； <br />
                    科技专家引领，良心厂商保驾； <br />
                    消费大众护航，联创解决方案。
                </div>
                <div class="item item-divider item-balanced">
                    目的意义
                </div>
                <div class="item item-text-wrap">
                    1、科技服务消费，专家指导消费。科技专家，为生活健康资讯正本清源，指点迷津；为健康生活解决方案出谋划策，引导消费； <br />
                    2、通过推行悬赏承诺机制，让良心厂商、合格产品，拨云见日、脱颖而出，让消费者真假易分、优劣易辩； <br />
                    3、通过消费大众的监管监督，为放心消费、健康生活，上了第二道保险，确保真材实料、货真价实； <br />
                    4、健康生活解决方案，举优荐良，让真假分离、优劣分明，让消费者买的放心，吃的健康，用的安心； <br />
                    5、推动商业新文明，促进健康新生活。
                </div>
                <div class="item item-divider item-balanced">
                    实施要领
                </div>
                <div class="item item-text-wrap">
                    1、聚焦痛点； <br />
                    2、探寻真相； <br />
                    3、解决方案； <br />
                    4、TMC联创； <br />
                    5、悬赏承诺； ……
                </div>
                </div>
                <div class="item item-divider item-balanced">
                    TMC联创公益关系
                </div>
                <div class="item item-image">
                    <img src="images/TMC联创公益关系.jpg">
                </div>
                <div class="item item-divider item-balanced">
                    TMC联创
                </div>
                <div class="item item-image">
                    <img src="images/TMC联创.jpg">
                </div>
                <div class="item item-divider item-balanced">
                    科技专家
                </div>
                <div class="item item-text-wrap">
                    科技专家团队，谨遵联创公约； <br />
                    专业团队稳定，服务系统达标； <br />
                    公认专业水准，成本价格服务； <br />
                    消费大众公投，大众监督审核。
                </div>
                <div class="item item-divider item-balanced">
                    良心厂商
                </div>
                <div class="item item-text-wrap">
                    谨遵联创公约，践行悬赏承诺； <br />
                    真材实料生产，货真价实营销； <br />
                    免费商品服务，自愿联创公益； <br />
                    消费大众公选，大众监督审核。
                </div>
                <div class="item item-divider item-balanced">
                    联创公约
                </div>
                <div class="item item-text-wrap">
                    恪守真诚，拒绝忽悠； <br />
                    真材实料，悬赏承诺； <br />
                    真心互动，心意相通； <br />
                    以诚沟通，和谐共荣。
                </div>
                <div class="item item-divider item-balanced">
                    悬赏承诺
                </div>
                <div class="item item-text-wrap">
                    凡参与联创公益的良心厂商，谨遵《联创公约》，发布公益产品或服务的真实信息，并就信息的真实性作出悬赏金承诺，有偿接受社会大众的监督。 <br />
                    无论个人或组织一旦发现并有正当的证据，证明厂商信息有诈，均可以通过曝光系统揭榜，经相应职能部门印证或仲裁后，即可向相应的厂商申请悬赏金兑付。
                </div>
                <div class="item item-divider item-balanced">
                    消费大众
                </div>
                <div class="item item-text-wrap">
                    谨遵联创公约，真名实姓亮相； <br />
                    实话实说实诚，利人利己利民； <br />
                    专家团队公投，厂商机构公选； <br />
                    解决方案征询，事后监督揭榜。
                </div>
                <div class="item item-divider item-balanced">
                    解决方案
                </div>
                <div class="item item-text-wrap">
                    公投科技专家，公选良心厂商； <br />
                    科技专家主导，良心厂商联创； <br />
                    共同拟定方案，大众审议定案； <br />
                    联创解决方案，共同守护健康。
                </div>
                <div class="item item-divider item-balanced">
                    实施流程
                </div>
                <div class="item item-image">
                    <img src="images/实施流程.png">
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
