<ion-content>
    <ion-list>
        <ion-item>
            <h1>良心厂商</h1>
        </ion-item>
        <ion-item>
            <img width="100%" height="200px" src="/images/良心厂商.jpg" alt="Photo">
        </ion-item>
        <ion-item>
            <h2>接力棒列表</h2>
        </ion-item>
        <div class="list card">
            <div class="item item-divider">
                第<span>1<span>棒<span>&nbsp;&nbsp;<span>浙江冰虫环保科技有限公司
          </div>
          <div class="item item-text-wrap">
            浙大冰虫为杭州笨鸟环保科技有限公司的全资子公司。<br />
            承诺内容：<br />
            1.菲尔博德系列产品均由杭州笨鸟环保科技有限公司研发销售。所使用的超高效玻纤滤网达到医用级别，风机通过EMC,3C,CE等认证。达到医用级别，风机通过EMC,3C,CE等认证。<br />
            2.产品技术参数均通过权威机构认证（详附权威机构报告）。<br />
            3.完美售后：一年包换，两年包修，三年保修(非人为损坏，除滤网外)。<br />
              悬赏承诺金额：80000.00（捌万元整）
          </div>
        </div>
    </ion-list>
</ion-content>
