<ion-content>
    <ion-list>
        <ion-item>
            <h1>企业厂商</h1>
        </ion-item>
        <ion-item>
            <img width="100%" height="170px" src="images/图1.jpg" alt="Photo">
        </ion-item>
        <ion-item>
            <h2>点击按钮，开始接力</h2>
        </ion-item>
        <ion-item>
            <button ng-click="unitEnroll()" class="button button-full button-balanced">我要接力</button>
        </ion-item>
        <ion-item>
            <h2>接力棒列表</h2>
        </ion-item>
        <div class="list card">
          <div class="item item-divider">
            第<span>4<span>棒<span>&nbsp;&nbsp;<span>宁波中科朝露新材料有限公司
          </div>
          <div class="item item-text-wrap">
            宁波中科朝露新材料有限公司系宁波八益投资控股有限公司和中国科学院宁波材料所合作建立，<br />
              总部位于宁波市国家高新区，注册资金3000万元，<br />
              是一家致力于环保材料研发与应用的高科技公司，主要从事各类绿色环保无醛胶黏剂和零醛添加板材的研发、生产与销售，是中国第一家实现全大豆基无醛胶黏剂产业化的企业。 中科朝露致力于为消费者提供绿色环保的无醛产品，引领人造板行业向无醛化发展。经过多年的技术研发及市场拓展，已经实现了无醛胶黏剂在多层板、刨花板、细木工板、纤维板、地板等系列产品中的应用，突破了人造板产品“零醛添加”的技术难题，经中国科学院和中国林产工业协会组织的林产行业院士、专家鉴定，中科朝露大豆基无醛胶粘剂技术达到“国际先进水平”，得到行业及社会的高度认可，一举荣获了2013年度“林业产业创新一等奖”，并成为《木材工业用豆基蛋白胶粘剂》行业标准的主要起草单位。
                作为集大豆基无醛胶黏剂及无醛添加板材研发、生产、销售于一体的中科朝露以中国科学院强大的技术支持为依托，致力于成为国际人造板无醛化技术引领者。
          </div>
        </div>
    </ion-list>
</ion-content>
