<ion-content>
    <ion-list>
        <ion-item>
            <h1>专家机构</h1>
        </ion-item>
        <ion-item>
            <img width="100%" height="170px" src="images/图1.jpg" alt="Photo">
        </ion-item>
        <ion-item>
            <h2>点击按钮，开始接力</h2>
        </ion-item>
        <ion-item>
                <button ng-click="unitEnroll()" class="button button-full button-balanced">我要接力</button>
        </ion-item>
        <ion-item>
            <h2>接力棒列表</h2>
        </ion-item>
        <div class="list card">
          <div class="item item-divider">
            第<span>1<span>棒<span>&nbsp;&nbsp;<span>浙江大学创新创业中心
          </div>
          <div class="item item-text-wrap">
            中心以“提升浙江大学创业氛围，切实服务校友创业活动”为宗旨，为浙江大学创业团队与国际国内投资人搭建了一个交流平台。 目前，中心已对接包括经纬中国、软银中国、阿里巴巴战略投资部、IDG、SIG、GGV、浙商创投、顺为资本、成为资本、丰厚资本、赛富亚洲基金、达晨创投、深创投、天使汇等80多家投资机构负责人。 主办了包括“浙江省机器人高峰论坛”、“首届浙江大学青年创业论坛”、“浙大创业节—在云栖小镇邂逅天使汇”、“创业路上遇见云栖小镇”、“大学生创业投融资峰会”、“首届浙江省大学生创业峰会”、“首届杭州（西湖）青年技术人才对接会”以及“第二届浙江大学青年创业论坛”等数十场高规格创业项目路演与创业论坛。
                浙创ME已为数十个浙江省的优质创业项目对接到了投资人，活动累计受益数万人，屡次得到新华社、中新社、浙江电视台、杭州电视台以及搜狐等媒体的报道，经过两年的发展，浙创ME现已成为浙江省内最具影响力的高校公益创投服务机构。
          </div>
        </div>
    </ion-list>
</ion-content>
